@import "global.css";
@import "chain.css";
@import "list.css";
@import "module.css";
@import "out.css";
@import "parameter.css";

/* - - DRAG - -  */

com-module,
com-module * {
    user-select: none;
    -webkit-user-select: none;
}

.dragging {
    --color: var(--color-offset);
    color: hsl(var(--color));
    --bg-opacity: 1;
    border-color: currentColor;
}

html.COM-MODULE com-chain > com-list,
html.COM-OUT com-module > com-list {
    --bg-opacity: 0.15;
    transition-delay: 0ms;
}

html:where(.COM-MODULE, .COM-OUT) :where(com-chain, com-module, com-out) {
    --bg-opacity: 1;
}

:where(com-chain, com-module, com-out) {
    --bg-opacity: 0.3;
    --stroke-opacity: 0.1;
}

:where(com-chain, com-module, com-out):hover {
    --bg-opacity: 1;
    --stroke-opacity: 0.2;
}
