com-module {
    padding: 4px;
    cursor: grab;
    min-width: 15ch;
}

com-module > com-list {
    margin-top: auto;
    flex-grow: 0;

    flex-wrap: wrap;
    flex-direction: row;
}

com-module > com-list > com-out {
    flex-grow: 1;
}
