@import "./range.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    padding: 8px;

    display: flex;
    gap: 8px;

    font-family: monospace;
    font-weight: 100;
    color: #000;

    overflow: hidden;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;

    border-style: solid;
    border-color: transparent;
    background-color: orange;
    border-width: 1px;
    border-radius: 2px;
}
button:hover {
    border-color: orange;
    background-color: transparent;
}

input,
select {
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}
