* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: monospace;
    margin: 0;
    padding: 4px;

    display: grid;

    line-height: 1;
}

/* com-network,
com-chain,
:is(com-module) {
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;

    display: block;
    padding: 2px;
} */
