/* :where(com-network),
:where(com-chain),
com-module {
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;

    display: block;
    padding: 2px;
} */

/* com-network,
com-chain,
com-module,
:host(com-network) #chains,
:host(com-chain) #modules {
    display: flex;
    flex-direction: column;
}

:host(com-network) #chains,
:host(com-chain) #modules {
    gap: 4px;
}

com-chain,
com-module {
    gap: 8px;
}

:host(com-network) #chains {
    flex-grow: 1;
    flex-direction: row;
} */

.v-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 4px);
}
.h-list {
    display: flex;
    gap: var(--gap, 4px);
}
